@{
    ViewData["Title"] = "Admin Page";
    Layout = "~/Views/Shared/_akadminpg.cshtml";
}

<h1 class="ml-5 mt-5 pt-5">View Workout Plans</h1>

<img src="~/images/W_Plan.jpg" alt="T" width="1000" height="500">