@model ApplicationUser

@{
    ViewData["Title"] = "Admin Page";
    Layout = "~/Views/Shared/_akadminpg.cshtml";
}

<div class="row mt-5 pt-5 ml-3">
    <div class="row justify-content-center">
        <div class="col-10 mt-1">
            <div class="card">
                <div class="card-header col-16">
                    <form id="registerForm" class="row " method="post">
                        <h2 class="mb-4 ">Create a new account.</h2>
                        <br />
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                        <!-- Full name -->
                        <div class="form-floating col-12 mb-3">
                            <label asp-for="FullName">Full Name</label>
                            <input asp-for="FullName" class="form-control text-light" placeholder="Enter your Full Name" />
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>

                        <!-- Phone Number -->
                        <div class="form-floating col-6 mb-3">
                            <label asp-for="PhoneNumber">Phone Number</label>
                            <input asp-for="PhoneNumber" class="form-control text-light" placeholder="Enter your PhoneNumber" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>

                        <!-- Email -->
                        <div class="form-floating col-6 mb-3">
                            <label asp-for="Email">Email</label>
                            <input asp-for="Email" class="form-control text-light" autocomplete="username" aria-required="true" placeholder="Enter your email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <!-- Gender -->
                        <div class="form-floating  col-6 mb-3">
                            <label asp-for="Gender">Gender</label>
                            <input asp-for="Gender" class="form-control text-light" placeholder="Enter your Gender" />
                            <span asp-validation-for="Gender" class="text-danger"></span>
                        </div>


                        <!-- DOR -->
                        <div class="form-floating  col-6 mb-3">
                            <label asp-for="DOR">Date of Registration</label>
                            <input asp-for="DOR" type="date" class="form-control text-light text-muted" placeholder="Enter your DOR" />
                            <span asp-validation-for="DOR" class="text-danger"></span>
                        </div>

                        <!-- DOB -->
                        <div class="form-floating col-6 mb-3">
                            <label asp-for="DOB">Date of Birth</label>
                            <input asp-for="DOB" type="date" class="form-control text-muted text-light" placeholder="Enter your DOB" />
                            <span asp-validation-for="DOB" class="text-danger"></span>
                        </div>

                        <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Remove Customer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
